%script(type="text/javascript" src="/presentation.js")
#title #{@title}
#content #{@content}
%input{:type =>"hidden", :id=>"previous", :value=>@previous}
%input{:type =>"hidden", :id=>"next", :value=>@next}