body {
    background: #111;
    font: 100px Helvetica, Arial, sans-serif;
    letter-spacing: -3px;
    margin: 8px;
    margin-left: 0px;
}

#title {
    color: #58aa00;
    font: 130px Helvetica, Arial, sans-serif;
    font-weight: bold;
}
  
#content {
    position: absolute;
    top: 15%; 
    color: #D7D7D7;
}

li {
margin-top: 40px;
}